div{text-align: center;
    font-family:cursive;
    font-size: 20px;
    color: brown;}

p{font-family: cursive;
    font-size: 10;
    color: black}
    

li{font-family:cursive;
    color:darkslateblue;}

img {width: 440px; height: 200px;} 



