h1{
  font-family:cursive;
  color:brown;
  font-size: 35px; }

body{ 
  font-family:cursive; 
    font-size: 15px;}

li{ font-family: cursive;
    font-size: 15px;}

h2{ font-family: cursive;
    color:brown;}
    
