
h1{font-family: cursive; 
    color:cadetblue;}
    font-size: 40px;} 

p{font-family: monospace;
    font-size: 14px;}

td {font-family:monospace;
    font-size:14px;
    width: 600px;}

img {width:450px; 
    height: 220px;}
    

    